<div class="d-flex flex-column p-4 gap-4 py-5 align-items-center justify-content-center">
  <div class="list-group">
    <div class="list-group-item bg-primary text-white">
      <h3 class="fw-bold">
        <ng-container *ngIf="!editTitle; else editTitleInput">
          <span (click)="editTitle = true">{{ checklistTitle || 'My Tasks' }}</span>
        </ng-container>
        <ng-template #editTitleInput>
          <input class="form-control" [(ngModel)]="checklistTitle" (blur)="editTitle = false">
        </ng-template>
      </h3>
    </div>

  
      <div *ngFor="let item of checklistItems; let i = index" class="list-group-item">
        <div class="checklist-item">
          <div class="item-content">
            <strong>{{ item.task.content }}</strong>
          </div>
          <button class="delete-button" (click)="removeItem(i)">
            <img src="assets/images/delete.png" alt="Delete" />
          </button>
        </div>
      </div>
  
      <div class="list-group-item d-flex gap-3 bg-body-tertiary">
        <input type="text" [(ngModel)]="newChecklistItem" class="w-100" placeholder="Yapılacak Yeni Bir Görev Ekleyin">
        <button (click)="addItem()" class="btn btn-secondary">Yeni Görev Ekle</button>
      </div>
      <button (click)="submitChecklist()" class="btn btn-primary mt-3">Checklist'i Ekle</button>
    </div>
  </div>
  <div style="height: 375px;"></div>