.list-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.list-group-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
    border: none;
    width: 100%;
    background-color: #f8f9fa;
    /* Beyaz arka plan */
}

.list-group-item:nth-child(odd) {
    background-color: #e9ecef;
    /* Gri arka plan */
}

.list-group-item.bg-primary {
    border: none;
}

.form-check-input {
    flex-shrink: 0;
    font-size: 1.375em;
    margin-right: 1rem;
}

.form-checked-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.form-checked-content small {
    margin-top: 0.25rem;
}

.form-checked-content input[type="text"] {
    width: 100%;
    min-height: 1.375em;
    padding: 0.25rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    outline: none;
}

.form-checked-content input[type="text"]:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.checklist-item {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.item-content {
    flex: 1;
    padding: 8px;
}

.checklist-item strong {
    margin-right: 8px;
}

.btn {
    margin-top: 1rem;
}

.delete-button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button img {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.delete-button img:hover {
    opacity: 1;
}

