<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-3">
                <img src="assets/images/welcome-left.png" alt="Welcome Left" class="img-fluid">
            </div>
            <div class="col-md-4 text-center">

                <img src="assets/images/logo.png" alt="Logo" class="img-fluid">
                <div style="height: 80px;"></div>
                <h2>Checklist Manager</h2>
                <p class="fs-5">Checklist Manager tüm işlerinize odaklanmanızı sağlar.</p>
                <a href="#">Daha Fazla Bilgi Edinin</a>

                <div style="height: 30px;"></div>
                <p class="otherApps"><span>Checklist Manager Uygulamasını İndirin
                        <div style="height: 20px;"></div>
                    </span><span class="storeIcons">
                        <a id="playStoreLink" href="#" class="iconLink" aria-label="Android için  uygulamasını indir"
                            title="Android için  uygulamasını indir" rel="noreferrer"><i
                                class="icon svgIcon ms-Icon android"><svg focusable="false"
                                    xmlns="http://www.w3.org/2000/svg" width="35" height="34" viewBox="0 0 25 24">
                                    <path fill-rule="evenodd"
                                        d="M7 17V9h12.016c0 .103-.011.202-.016.303V17c0 1.104-.896 2-2 2v2.5c0 .828-.672 1.5-1.5 1.5s-1.5-.672-1.5-1.5V19h-2v2.5c0 .828-.672 1.5-1.5 1.5S9 22.328 9 21.5V19c-1.104 0-2-.896-2-2zm-4-5.5c0-.829.672-1.5 1.5-1.5s1.5.671 1.5 1.5V16c0 .828-.672 1.5-1.5 1.5S3 16.828 3 16v-4.5zm17 0c0-.829.672-1.5 1.5-1.5s1.5.671 1.5 1.5V16c0 .828-.672 1.5-1.5 1.5S20 16.828 20 16v-4.5zM19 8H7c0-1.412.491-2.708 1.308-3.733L7.074 2.262c-.144-.235-.071-.543.164-.688.232-.144.541-.072.688.164l1.095 1.78C10.08 2.576 11.472 2 13 2s2.92.576 3.979 1.518l1.095-1.78c.146-.236.455-.308.688-.164.235.145.308.453.164.688l-1.234 2.005C18.509 5.292 19 6.588 19 8zm-7.75-2.375c0-.345-.28-.625-.625-.625S10 5.28 10 5.625s.28.625.625.625.625-.28.625-.625zm4.75 0C16 5.28 15.72 5 15.375 5s-.625.28-.625.625.28.625.625.625.625-.28.625-.625z">
                                    </path>
                                </svg></i></a>
                        <a id="windowsStoreLink" href="#" class="iconLink" aria-label="Windows için  uygulamasını indir"
                            title="Windows için  uygulamasını indir" rel="noreferrer"><i
                                class="icon svgIcon ms-Icon windows"><svg focusable="false"
                                    xmlns="http://www.w3.org/2000/svg" width="35" height="34" viewBox="0 0 25 24">
                                    <path fill-rule="evenodd"
                                        d="M3 4.9999l9-1.35v7.85H3v-6.5zm19.9998-2.9997v9.499h-10v-8l10-1.499zm-9.9999 10.4994h10v9.5l-10-1.5v-8zm-9.9999 0h9v7.85l-9-1.349v-6.501z">
                                    </path>
                                </svg></i></a>
                        <a id="iosAppStoreLink" href="#" class="iconLink" aria-label="iOS için  uygulamasını indir"
                            title="iOS için  uygulamasını indir" rel="noreferrer"><i
                                class="icon svgIcon ms-Icon ios"><svg focusable="false"
                                    xmlns="http://www.w3.org/2000/svg" width="35" height="34" viewBox="0 0 25 24">
                                    <path fill-rule="evenodd"
                                        d="M16.949 6.074c2.952 0 4.113 2.101 4.113 2.101s-2.271 1.161-2.271 3.979c0 3.178 2.829 4.273 2.829 4.273s-1.978 5.566-4.649 5.566c-1.227 0-2.181-.826-3.473-.826-1.318 0-2.625.858-3.477.858-2.439 0-5.521-5.281-5.521-9.525 0-4.177 2.608-6.367 5.055-6.367 1.591 0 2.825.917 3.652.917.71 0 2.027-.976 3.742-.976zm.295-5.049s.285 1.71-1.085 3.357c-1.464 1.758-3.128 1.47-3.128 1.47s-.312-1.383.915-3c1.38-1.819 3.298-1.827 3.298-1.827z">
                                    </path>
                                </svg></i></a></span></p>
                <div style="height: 20px;"></div>
                <a href="#">Checklist Manager İçin Kullanım Koşulları</a>
            </div>
            <div class="col-md-4">
                <img src="assets/images/welcome-right.png" alt="Welcome Right" class="img-fluid">
            </div>
            <div class="empty-box"></div>
            <div style="height: 20px;"></div>
            <app-map></app-map>
            <app-contact-form></app-contact-form>
        </div>
        
    </div>
</body>